body {
    background-color: lab(91.93% 10.3 3.77);;
    color: #5d4949;
    font-size: 19px;
    font-family: georgia, "Times New Roman", Times, serif;
}

.container {
    background-color: lab(96.21% 4.7 1.68);
    width: 96%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 20px;
}

header {
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    text-decoration: none;
    background-color: oklch(66.649% 0.02651 17.681);
    padding: 15px;
    color: #ffffff;
}

nav a:hover {
    background-color: oklch(46.382% 0.01443 17.485);
}

footer a {
    display: inline-block;
    text-decoration: none;
    background-color:  oklch(66.649% 0.02651 17.681);
    padding: 15px;
    color: #ffffff;
}

footer a:hover {
    background-color: oklch(46.382% 0.01443 17.485);
}

.presentation{
    padding: 40px;
    margin-top: 0px;
    text-align: center;
}

.presentation-image {
    width: 450px;
    max-width: 100%;
    display: block;
    margin: 80px auto 0;
}

footer {
    margin-top: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

footer p {
    margin-top: 10px;
}

.hobby h2,
.hobby > p {
    text-align: center;
}

.hobby table {
    margin-left: auto;
    margin-right: auto;
}

.hobby-images {
    text-align: center;
}

.hobby-images img {
    width: 100%;
}

.hobby-images div {
    display: inline-block;
    width: 25%;
    margin: 20px 1%;
    vertical-align: top;
}

.hiking-tips {
    text-decoration: none;
    background-color:  oklch(66.649% 0.02651 17.681);
    padding: 15px;
    color: #ffffff;
}

.hiking-tips:hover {
    background-color:oklch(46.382% 0.01443 17.485);
}

.contact {
    text-align: center;
    padding: 40px;
}

h1 {
    font-style: italic;
}